@use './variables' as *;

body {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-1;
}

main {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 90px 450px;
    gap: 32px;
}

section {
    background-color: $color-2;
    border-radius: 16px;
}